* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {

}

html {
  height: 100%;
  font-family: "Monserrat", sans-serif;

}

body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  gap: 50px;
}

.btn {
  flex: 1;
  transition: box-shadow background-color .2s linear;
  /* background: none; */
  font-size: 1.2rem;
  padding: .5rem;
  background-color: white;
  color: green;
  border: green solid 2px;

  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(233, 254, 70);

}

.btn:hover {
  background-color: green;
  color: white;
}

.btn:active {
  box-shadow: 3px 3px 10px rgb(233, 254, 70);



}